body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#touchPane {
  display: none;
}

.touchPaneLeft {
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
}

.touchPaneRight {
    position: fixed;
    left: 50%;
    width: 50%;
    height: 100%;
}

.guiPane, .dg.main {
    position: absolute;
    right: 10px;
}

.touchButton {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background: white;
  opacity: 0.3;
  transition: opacity 250ms;
  border-radius: 50%;
}

.hud .target {
  position: fixed;
  left: -12px;
  top: -12px;
  width: 20px;
  height: 20px;
  border: 2px solid #0f0;
  border-radius: 20px;
  color: #0f0;
}

.hud .target .name {
  position: absolute;
  top: -1.1em;
  left: 50%;
  width: 250px;
  color: #0f0;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
}

.hud .target .distance {
  position: absolute;
  top: 1.9em;
  left: 50%;
  width: 50px;
  color: #0f0;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
}

.hud .vector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}

.hud .target .arrow {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f00;
}


.hud .target .life {
  position: relative;
  top: 22px;
  background-color: #0f0;
  width: 20px;
  height: 2px;
}

.hud #horizon {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #0f0;
  height: 2px;
  transform: translateX(-50%);
  opacity: 0.8;
}

.hud #pointer {
  position: fixed;
  transform: translateX(-16px) translateY(-16px);
  height: 32px;
  opacity: .8;
}
.hud #pointer:before, .hud #pointer:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #0f0;
}
.hud #pointer:before {
  transform: rotate(45deg);
}
.hud #pointer:after {
  transform: rotate(-45deg);
}

#focal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 2px solid #0f0;
  opacity: 0.8;
  pointer-events: none;
}

#limiter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 800px;
  width: 800px;
  border-radius: 800px;
  border: 1px solid #0f0;
  border-style: dashed;
  opacity: 0.8;
  pointer-events: none;
}
